doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Eternity
    // Bootstrap css
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-icons.css")
    // Public css
    link(rel="stylesheet", href="/static/css/styles.css")
  body.bg-dark
    // Navigation
    ul.nav.nav-tabs.pt-4.justify-content-end.align-items-end
      li.nav-item.logo
        img(src="/static/img/logo.png", alt="Eternity")
      li.nav-item
        a.nav-link.text-dark.text-center(class=page === "index" ? "active" : "", aria-current="page", href="/") Inicio
      li.nav-item
        a.nav-link.text-dark.text-center(class=page === "about" ? "active" : "", href="/nosotros") Nosotros
      li.nav-item
        a.nav-link.text-dark.text-center(class=page === "galery" ? "active" : "", href="/galeria") Galería
      li.nav-item
        a.nav-link.text-dark.text-center(class=page === "products" ? "active" : "", href="/productos") Productos
      li.nav-item
        a.nav-link.text-dark.text-center(class=page === "chat" ? "active" : "", href="/escribenos") Escríbenos
    .container
      // Body
      != body
  // Footer
  footer
  // Bootstrap js
  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  // Scripts
  script(src="https://cdn.socket.io/4.6.0/socket.io.min.js")
  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script.
    $(() => {
      var socket = io()
      $('#form-chat').submit(() => {
        console.log(socket)
        socket.emit('chat', $('#message').val() );
        $('#message').val('');
        return false;
      });
      socket.on('recibido', (object) => {
        const $li = $('<li>').addClass('item-chat d-flex');
        const $icon = $('<i>').addClass('bi bi-chat-fill mr-2');
        const $mensaje = $('<p>').addClass('m-0 fs-6').text(object.txt);
        const $fecha = $('<p>').addClass('date-item-chat').text(object.date);
        $li.append($icon, $mensaje, $fecha);
        $('#list-messages').append($li);
        window.scrollTo(0, document.body.scrollHeight);
      });
    })
